<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Gallery</title>
</head>

<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a class="active" href="/gallery">Gallery</a></li>
        </ul>
    </div>
    <div id="gallery-container">
        <div class="gallery">
            <a target="_blank" href="/images/painting-one.jpeg">
                <img src="/images/painting-one.jpeg" width="1200" height="800">
            </a>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/painting-two.jpeg">
                <img src="/images/painting-two.jpeg" width="600" height="400">
            </a>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/painting-three.jpeg">
                <img src="/images/painting-three.jpeg" width="600" height="400">
            </a>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/painting-four.jpeg">
                <img src="/images/painting-four.jpeg" width="600" height="400">
            </a>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/painting-five.jpeg">
                <img src="/images/painting-five.jpeg" width="600" height="400">
            </a>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/painting-six.jpeg">
                <img src="/images/painting-six.jpeg" width="600" height="400">
            </a>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/painting-seven.jpeg">
                <img src="/images/painting-seven.jpeg" width="600" height="400">
            </a>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/painting-eight.jpeg">
                <img src="/images/painting-eight.jpeg" width="600" height="400">
            </a>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/painting-nine.jpeg">
                <img src="/images/painting-nine.jpeg" width="600" height="400">
            </a>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/painting-ten.jpeg">
                <img src="/images/painting-ten.jpeg" width="600" height="400">
            </a>
        </div>
    </div>
</body>

</html>