<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Works</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a class="active" href="/works">Works</a></li>
      <li><a href="/galery">Galery</a></li>
    </ul>
    <h1>Works</h1>
    <article>
      Van Gogh drew, and painted with watercolours while at school, but only a
      few examples survive and the authorship of some has been challenged. When
      he took up art as an adult, he began at an elementary level. In early
      1882, his uncle, Cornelis Marinus, owner of a well-known gallery of
      contemporary art in Amsterdam, asked for drawings of The Hague. Van Gogh's
      work did not live up to expectations. Marinus offered a second commission,
      specifying the subject matter in detail, but was again disappointed with
      the result. Van Gogh persevered; he experimented with lighting in his
      studio using variable shutters and different drawing materials. For more
      than a year he worked on single figures - highly elaborate studies in
      black and white, which at the time gained him only criticism. Later, they
      were recognised as early masterpieces.
    </article>
    <table>
      <thead>
        <tr>
          <td>Portraits</td>
          <td>Self-portraits</td>
          <td>Flowers</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Vincent_van_Gogh_-_Portret_van_de_postbode_Joseph_Roulin.jpg/800px-Vincent_van_Gogh_-_Portret_van_de_postbode_Joseph_Roulin.jpg"
              alt="portrait-example-1"
            />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Vincent_van_Gogh_-_Eug%C3%A8ne_Boch_-_Google_Art_Project.jpg/800px-Vincent_van_Gogh_-_Eug%C3%A8ne_Boch_-_Google_Art_Project.jpg"
              alt="portrait-example-2"
            />
          </td>
          <td>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Vincent_van_Gogh_-_Self-portrait_with_grey_felt_hat_-_Google_Art_Project.jpg"
              alt="self-portrait-1"
            />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/7/71/Vincent_Willem_van_Gogh_102.jpg"
              alt="self-portrait-2"
            />
          </td>
          <td>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Vincent_Willem_van_Gogh_128.jpg"
              alt="flowers-1"
            />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/3/33/Vincent_van_Gogh_-_Irises_-_Google_Art_Project.jpg"
              alt="flowers-2"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <td>Cypresses and olives</td>
        <td>Orchards</td>
        <td>Wheat fields</td>
      </thead>
      <tbody>
        <tr>
          <td>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/d/de/Van_Gogh_Starry_Night_Drawing.jpg"
              alt="self-portrait-1"
            />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Vincent_van_Gogh_-_Wheat_Field_with_Cypresses_-_Google_Art_Project.jpg/1920px-Vincent_van_Gogh_-_Wheat_Field_with_Cypresses_-_Google_Art_Project.jpg"
              alt="self-portrait-2"
            />
          </td>
          <td>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Vincent_van_Gogh_-_De_roze_boomgaard_-_Google_Art_Project.jpg/1920px-Vincent_van_Gogh_-_De_roze_boomgaard_-_Google_Art_Project.jpg"
              alt="self-portrait-1"
            />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/95/Vincent_Van_Gogh_0018.jpg"
              alt="self-portrait-2"
            />
          </td>
          <td>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Vincent_Willem_van_Gogh_007.jpg"
              alt="self-portrait-1"
            />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Landscape_with_Wheat_Sheaves_and_Rising_Moon_%28F735%29.jpg/360px-Landscape_with_Wheat_Sheaves_and_Rising_Moon_%28F735%29.jpg"
              alt="self-portrait-2"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
